:root {
	--primary_color = red
}


<@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
	width: 100%;
	margin: unset;
	padding: unset;
	box-sizing: border-box;
	background: #ffffff;
	font-family: 'Work Sans', sans-serif;
}


h4 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}





/*-----------------------------------------------------------------------------*\
Menu
\*-----------------------------------------------------------------------------*/

.mobile-nav{
	display: none;
}

.navbar {
	z-index: 9999;
	width: 100%;
	height: 80px;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 112px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.nav-logo {
	display: flex;
	align-items: center;
}

.nav-menu{
	display: flex;
	align-items: center;
}


.logo-img {
	height: 47.5px;
	width: 38px;
	margin-right: 14px;
}

.logo-txt{
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
    color: #2947A9;
    height: 35px;
}

.italic {
	font-style: italic;
}

.list-link{
	display: flex;
	margin: unset;
	padding: unset;
	list-style-type: none;
}


.list-link .active-btn{
	margin-right: 0;
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	color: #F9995D !important;

}

.list-link a {
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #14171F;
	margin-right: 50px;
}

.nav-menu a:hover {
  color: #FF0000; 
  text-decoration: none; 
}

.nav-menu a {
  transition: all 0.3s ease-in-out; 
}

.nav-menu a:hover {
  color: #FF0000; 
  text-decoration: none; 
  background-color: #FFFFFF; 
  opacity: 0.5;
}


.btn-mobile {
	display: none;
}



@media (max-width:1250px) {
	.navbar {
		padding: 0 15px;
	}

	.nav-menu {
		display: absolute;
		display: none;
	}
	.show-menu{
		display: block;
	}

	.btn-mobile {
	display: block;	
	z-index: 9999;
	color: black;
	}
	.list-link{
		top: 0;
		right: 0;
		position: absolute;
		background-color: rgba(51, 51, 51, 0.80);
		backdrop-filter: blur(3px);
		color: white;
	    width: 100%;
	    height: 100vh;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    text-align: center;

	}
	.list-link li a {
		margin-right: 0;
		z-index: 999;
		color: white;
		font-weight: 900;
	}
	.list-link li {
		margin: 20px 0;
	}
	.list-link li .active-btn {
		background-color: #f9995d;
		padding: 5px 20px;
		border-radius: 999px;
		color: white !important;
		font-size: 20px;

	}

}



/*-----------------------------------------------------------------------------*\
Header
\*-----------------------------------------------------------------------------*/
.header {
	box-sizing: border-box;
	padding-top: 80px;
	height: 100vh;
	box-sizing: border-box;
	object-fit: cover;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%), url(assets/bg-img.jpg);
	background-size: cover;

}

.header-bg {
	position: relative;
	top: 0px;
	left: 0;
	right: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.bg-img {
	z-index: -1;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.feat-bg {
	position: absolute;
	height: 190px;
	width: 416px;
	bottom: 0;
	right: 0;
	background-color: #3559C7;
	color: white;
}

.feat-bg h3 {
	font-family: Work Sans, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;

}


.feat-bg p {
	font-family: Work Sans, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin : 20px 50px 26px 52px

}

.feat-bg a {
	height: 40px;
	width: 50%;
	background-color: #292E3D;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-family: Work Sans, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;

}

.btn-feat {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1px;
	background-color: white;

}



.btn-feat a{
	width: 100%;
}

.btn-back {
	margin-right: 8px;
}

.btn-next {
	margin-left: 8px;
}



.title-bg {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}



.title-bg p {
	font-family: Work Sans, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 72px;
	line-height: 84px;
	color: #292E3D;
	position: absolute;
	left: 112px;

}


/*-----------------------------------------------------------------------------*\
Section "Our reputation"
\*-----------------------------------------------------------------------------*/

.card-section {
	height: 433px;
    padding-top: 60px;
}

.card-section .cards {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}


.card-section h4 {
	font-family: Work Sans, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	margin: 0;
	margin-bottom: 50px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 296px;
	border-radius: 5px;
	border: 2px solid #E0E3EB;
	padding: 20px;
}

.card img {
	height: 40px;
	width: 40px;
}


.card h5 {
	font-family: Work Sans, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #3D445C;
	margin: 18px 0;

}


.card p {
	font-family: Work Sans, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #858EAD;
	margin: 0;
	margin-bottom: 20px;
}


.cards .margin{
	margin-right: 66px;
}



/*-----------------------------------------------------------------------------*\
Section "About Us"
\*-----------------------------------------------------------------------------*/

#presentation {
	padding: 74px 0 200px 0;
}

#presentation >.content{
	width: 1314px;
	height: 770px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

}

#presentation >.content >.photo{
	display: inline-block;
	height: 100%;
/*	box shadow raduis*/
}

#presentation >.content >.photo >img {
	height: 100%;
	border-radius: 2px;
}

#presentation >.content >.texts{
	width: 488px;
	height: 523px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: #2947A9;
	box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
	border-radius: 2px;
	padding: 50px 60px 60px 40px;
	box-sizing: border-box;

}

#presentation >.content >.texts >h4{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: left;
	color: #FFFFFF;
	margin: 0;
	margin-bottom: 37px;

}

#presentation >.content >.texts >p{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
	margin: 0;
	margin-bottom: 74px;

}

#presentation >.content >.texts >a{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	padding: 16px 20px;
	background: #FFFFFF;
	border: 2px solid #2947A9;
	border-radius: 6px;
	color: #2947A9;
	text-decoration: none;
	cursor: pointer;


}

#presentation >.content >.texts > a:hover{
	background-color: orangered;
	

}



/*-----------------------------------------------------------------------------*\
Section "Services"
\*-----------------------------------------------------------------------------*/



.section-services {
	height: 608px;
	background-color: #F6F8F7;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-services .cards-services {
	height: 410px;
	width: 1008px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-services .cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 35px 71px;
}

.section-services .card {
	width: 198.3px;
  height: 132.44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: #2947A9;
  box-shadow: 0px 0px 27.0741px -1.46346px rgba(17, 24, 39, 0.05);
  border-radius: 2.92693px;
}
.section-services .card img {
	width: 30px;
  height: 30px;
}


.section-services .card .separate {
  width: 43.9px;
  height: 1.46px;
  background-color: #ffffff;
  margin: 14.63px 0;
}

.section-services .card p {
	font-family: Work Sans, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14.6346px;
	line-height: 17px;
	text-align: center;
	color: white;
}

.section-services .cards .white {
	background-color: #ffffff;
}


.section-services .cards .blue {
	background: #E0E3EB
}

.section-services .cards .bluetxt {
	color: #2947A9;
}




/*-----------------------------------------------------------------------------*\
Section Formulaire
\*-----------------------------------------------------------------------------*/

.form-section {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F6F8F7;
	padding: 25px 0;
}

.form-section .container  {
	width: 500px;
}

.form-section .container h4  {
	font-family: Work Sans, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26.3424px;
	line-height: 31px;
	color: #292E3D;
	margin: 0;
	margin-bottom: 15px;
}


.form-section .container p  {
	margin-bottom: 27px;
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14.6346px;
	line-height: 17px;
	text-align: center;
	color: #292E3D;
}


input[type="text"], input[type="email"] , select  {
  width: 100%;
  padding: 7px 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  background: #FFFFFF;
	border: 0.731732px solid #E0E3EB;
	border-radius: 2.92693px;
}


.form-section .field-group  {
	display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}



input::placeholder {
  padding: 6px 7px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13.1712px;
  line-height: 15px;
  color: #A3AAC2;
}


.field textarea {
	width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  padding: 7px 6px;
  box-sizing: border-box;
  background: #FFFFFF;
	border: 0.731732px solid #E0E3EB;
	border-radius: 2.92693px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 13.1712px;
	line-height: 15px;
  color: #A3AAC2;
}

.field textarea::placeholder {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 13.1712px;
	line-height: 15px;
  color: #A3AAC2;
}






.requier-label {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 11.7077px;
	line-height: 14px;
	color: #667299;
}

.submit-field {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 21px;

}



.submit-field input {
	height: 38.42px;
	width: 198.3px;
	background: #2947A9;
	border-radius: 1.46346px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 13.1712px;
	line-height: 15px;
	text-align: center;
	border: none;
	color: #FFFFFF;

}


select {
	width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 13.1712px;
	line-height: 15px;
	color: #A3AAC2;
}





/*-----------------------------------------------------------------------------*\
XP SECTION
\*-----------------------------------------------------------------------------*/


.xp-section {
	height: 723px;
	display: flex;
	align-items: center;
	justify-content: center;
}




/*info section*/

.xp-info {
	width: 359px;
	height: 358px;
	margin-left: 40px;
}


.xp-section > .xp-info > h3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
	color: #2947A9;
	margin:0;
}

.xp-section > .xp-info > p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #525B7A;
	margin-top: 40px;
	margin-bottom: 67px;
}

.xp-section > .xp-info > a {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	padding: 16px 39px;
	background: #2947A9;
	border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
}


/*count section*/



.xp-section > .xp-count {
	width: 641px;
	height: 563px;
	margin-right: 40px;
}


.xp-section > .xp-count > .card-count {
	padding: 30px 65px 30px 30px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
	border-radius: 4px;
	position: absolute;
}

/*position card*/
.xp-section > .xp-count > .business {
	bottom: 0;
	left: 46px;
}

.xp-section > .xp-count > .awards {
	bottom: 105px;
	left: 246px;
	z-index: 3;
}
.xp-section > .xp-count > .projects {
	bottom: 248px;
}
.xp-section > .xp-count > .happy {
	left: 300px;
	bottom: 347px;
}


.xp-section > .xp-count {
	position: relative;
}


.xp-section > .xp-count > .card-count > span {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 72px;
	line-height: 84px;
	display: flex;
	align-items: flex-end;
	color: #292E3D;
}


.xp-section > .xp-count > .card-count > .info-count > p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #667299;
	margin: 0px;
}

.xp-section > .xp-count > .card-count > .info-count {
	display: flex;
}

.xp-section > .xp-count > .card-count > .info-count > .separate {
	width: 7px;
	height: 28px;
	background: #F9995D;
	margin-right: 12px;
}


.xp-section > .xp-count > .card-count > img {
	height: 84px;
	position: absolute;
	bottom: -40px;
	right: -40px;
}


.xp-section > .xp-count > .projects > img {
	height: 84px;
	position: absolute;
	top: -40px;
	left: -40px;
}
	

.xp-section > .xp-count > .awards > img {
	height: 84px;
	position: absolute;
	top: -10px;
	right: -40px;
}

.xp-section > .xp-count > .happy > img {
	height: 84px;
	position: absolute;
	top: -10px;
	right: -40px;
}
	














/*-----------------------------------------------------------------------------*\
FOOTER
\*-----------------------------------------------------------------------------*/


.footer {
	background-color: #154478;
	height: 800px;
}